@import url(link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet");
.firstpage {
	background-image: url("img/twitterbackground.jpg");
	background-repeat: no-repeat;
	background-size:100%;
	font-family: 'Open Sans', sans-serif;
}
/*header only*/
#header1 {
	margin : 0px ;
	padding:14px;
	background-color:white;
	border-bottom:10px;
	font-family: 'Open Sans', sans-serif;

}
/*This is to make my header work */
#logo img {
	float:left;
	height:28px;
	padding-left:350px;


}
#home {
	float:left;
padding-left:300px;
}
#about{
	float:left;
padding-left:300px;
}
/* language */
#language {
	float:right;
	text-decoration: none;
	color: #657786;
	font-size: 13px;
	font-weight:400;
	margin-top:5px;
	
}
#english {
	float:right;
	text-decoration: none;
	color: #657786;
	
	font-size: 14px;
	font-weight:700;
	margin-top:5px;
	
	
}
/* menu */
#menu ul {
	list-style: none;
	display: inline-block;

}
/*inline block inorder to put the menu with an existing border*/
#menu  li{ 
	float:left;
}
#menu ul li{
	display: inline-block;
}
#menu ul li a{
	text-decoration: none;
	color: #657786;
	padding: 20px;
	font-size: 13px;
	font-weight:800;
}
#menu ul li a:hover{
	text-decoration: none;
	color: #1da1f2;
	padding: 20px;
	font-size: 13px;
-webkit-transition: background  1s ease-in-out;
-moz-transition: background  1s ease-in-out;
-ms-transition: background  1s ease-in-out;
-o-transition: background  1s ease-in-out;
transition: background 1s ease-in-out;}


/* For website content */
.welcome {
	text-decoration: none;
	color: #FFFFFF;
	padding: 0px;
	font-size: 27px;
	font-weight: 600;
	margin-left: 530px;
	margin-top: 70px;
   
}
.connect {
	text-decoration: none;
	color: #FFFFFF;
	padding: 0px;
	font-size: 21px;
	font-weight:600;
	margin-left:530px;
	margin-top: 70px;

}
.artwork {
	font-size:14px;
	color: #FFFFFF;
	font-weight:500;
	margin-left:530px;
	margin-top: 200px;

}
.tweetnphoto {

	font-size:14px;
	color: #FFFFFF;
	font-weight:300;
	margin-left:530px;
	margin-top: 20px;
	text-decoration:underline;


}
.date {
	font-size:14px;
	color: #FFFFFF;
	font-weight:300;
	margin-left:530px ;
	text-decoration:underline; 
}

#footer {
	color : #FFFFFF;
	text-align: center;
	margin-top: 100px;
	font-size:12px;

}
/* Caret */
.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-top: 10px;
    margin-left: 2px;
    vertical-align: top;
    border-top: 4px solid #66757f;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    float:right;
    margin-right: 370px;

}
/* THIS IS FOR THE SIGN UP FORM */

.login{
	width: 296px;
	height:99px;
	background-color: #ffffff;
	border: 1px solid #eeeeee;
	position:absolute;
	top: 8%;
	left:22%;
	margin-left:650px;
	margin-top:30px;
		}
.upper{
	
	background-color: #ffffff;
	padding:10px 10px 10px 10px;
	box-sizing: border-box;

}

input{margin: 10px 10px 10px 10px}

input,[type="password"]{
		width: 30%;
	    border: 1px solid #e6ecf0;
		border-radius: 3px;
		font-size: 15px;
		color: #657786;
}

input[class="button"]{
	background-color: #ffffff;
    border: 1px solid #1da1f2;
    border-radius: 100px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
   
    text-align: center;
    color:#1da1f2;
    float:right;

}


.phone {
	width: 90%;
}

.password {
	width: 50%;
}
.checkbox{
	width:10px ;
	height: 12px;
}
.remember{
	font-size:11px;
}
/* second page changes */
#header2 {
	margin : 0px ;
	padding:14px;
	background-color:white;
	border-bottom: 1px solid gray;
	font-family: 'Open Sans', sans-serif;

}
#english2 {
	float:right;
	text-decoration: none;
	color: #657786;
	font-size: 14px;
	font-weight:500;
	margin-top:5px;
}
#menu2 ul li a{
	text-decoration: none;
	color: #657786;
	padding: 20px;
	font-size: 16px;
	font-weight:500;
}
#logo2 img {
	float:left;
	height:28px;
	padding-left:600px;


}
.caret2 {
    display: inline-block;
    width: 0;
    height: 0;
    margin-top: 10px;
    margin-left: 2px;
    vertical-align: top;
    border-top: 4px solid #66757f;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    float:right;
    margin-right: 700px;
}
/* second log in */

.login2 {
	width: 296px;
	height:200	px;
	background-color: #ffffff;
	border: 1px solid #eeeeee;
	position:absolute;
	top: 8%;
	left:22%;
	margin-left:650px;
	margin-top:200px;
	padding:20px 20px 20px 20px;
	box-sizing: border-box;
		}
		input[class="signup"]{
	background-color: #1da1f2;
    border: 1px solid #1da1f2;
    border-radius: 100px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
   width:170px;
    text-align: center;
    color:#FFFFFF;
    float:right;

}